In [11]:
import pandas as pd
transactions = pd.read_csv('../data/processed/201204-201703-service-transactions-processed.csv')
print(transactions.shape)
print(transactions.columns)

(458, 48)
Index(['Unnamed: 0', 'Abbr', 'Organisation', 'Body', 'service', 'Servicetype',
       'URL', 'Servicedesc', 'Customertype', 'Businesmodel', 'Comments',
       '201212', '201212digital', '201303', '201303digital', '201306',
       '201306digital', '201309', '201309digital', '201312', '201312digital',
       '201403', '201403digital', '201406', '201406digital', '201409',
       '201409digital', '201412', '201412digital', '201503', '201503digital',
       '201506', '201506digital', '201509', '201509digital', '201512',
       '201512digital', '201603', '201603digital', '201606', '201606digital',
       '201609', '201609digital', '201612', '201612digital', '201703',
       '201703digital', 'max_observed'],
      dtype='object')

In [18]:
#these are the columns we want to scan
#ignoring the digital columns
quarters = ['201212', '201303', '201306',
       '201309', '201312', '201403', '201406', '201409',
       '201412', '201503',
       '201506', '201509', '201512',
       '201603', '201606', '201609', '201612', '201703']

In [20]:
#for each column, count number of services with non na
rows = []

#first quarter won't have anything to compare to
last_quarter_services = []
for quarter in quarters:
    #how many are not NA each quarter
    #total_services = 458 - sum(pd.isna(transactions[quarter]))
    this_quarter_services = list(transactions[pd.isna(transactions[quarter])==False]['service'])
    created_services = [s for s in this_quarter_services if not s in last_quarter_services]
    destroyed_services = [s for s in last_quarter_services if not s in this_quarter_services]
    
    row = {
        'quarter' : quarter,
        'this_quarter_services' : len(this_quarter_services),
        'created_services' : len(created_services),
        'destroyed_services' : len(destroyed_services)
    }
    rows.append(row)

    last_quarter_services = this_quarter_services


df = pd.DataFrame(rows)

print(df)

   quarter  this_quarter_services  created_services  destroyed_services
0   201212                    238               238                   0
1   201303                    199                10                  49
2   201306                    240                91                  50
3   201309                    361               134                  13
4   201312                    392                38                   7
5   201403                    386                10                  16
6   201406                    397                31                  20
7   201409                    384                13                  26
8   201412                    378                 8                  14
9   201503                    365                14                  27
10  201506                    360                11                  16
11  201509                    340                 7                  27
12  201512                    347                16                   9
13  201603                    336                14                  25
14  201606                    332                18                  22
15  201609                    293                 2                  41
16  201612                    292                 8                   9
17  201703                    291                 7                   8